<!DOCTYPE html>
<html lang="ru"><head>
    <title>Document</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/color_box.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/header_panel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/left_panel.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Vollkorn+SC&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/body.css') }}">
</head>

<body>
<input type="checkbox" id="nav-toggle" hidden>
        <nav class="nav">
<label for="nav-toggle" class="nav-toggle" onclick></label>
           <ul>
   <li><a href="abb">Поступающим</a>
   <li><a href="stud">Обучающимся</a>
   <li><a href="work">Работникам</a>
   <li><a href="classes">Факультеты и филиалы</a>
   <li><a href="educ">Студенческая жизнь</a>
   <li><a href="science">Научная деятельность</a>
   <li><a href="global">Международная деятельность</a>
</ul>
            <rectangle>
                <h3>
                    Приемная комиссия: +х-(ххх)ххх-хх-хх Новости ВУЗа
                </h3>
         <h2 class="logo">
    <a>Образовательная организация</a>
</h2></rectangle></nav>
<div class="background-image"></div>
<header class="header-black" role="banner">
<div class="head"></div>
    </div>
       <div class="search">
  <form>
  <input type="text" placeholder="Поиск...">
  <button type="submit"></button>
  </form>
</div>
    <div class="classes">
    <rectangle>
        <a href="classes">Факультеты</a>
    </rectangle>
</div>

    <div class="abb">
    <rectangle>
        <a href="abb">Поступающим</a>
    </rectangle>
</div>
<div class="onas">
    <rectangle>
        <a href="about_us">О нас</a>
    </rectangle>
</div>
    <div class="login">
    <rectangle>
        <a href="login">Войти</a>
    </rectangle>
</div>
</header>
</body>
</html>